apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mosquitto-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3
  resources:
    requests:
      storage: 5Gi

#kubectl apply -f mosquitto-pvc.yaml



#Same as before
---
volumes:
  - name: data
    persistentVolumeClaim:
      claimName: mosquitto-pvc